# get_tootal_data : 크롤링 결과 하나의 파일로 합치기

## 1. 함수 설정

In [2]:
import pandas as pd
import glob

def merge_csv_files():
    # 폴더 경로 내의 모든 .csv 파일 목록을 찾음
    csv_files = glob.glob("*.csv")
    
    # 빈 리스트를 초기화하여 각 .csv 파일의 DataFrame을 저장
    dfs = []
    
    # 각 .csv 파일을 순회하며 DataFrame으로 읽어들이고 리스트에 추가
    for file in csv_files:
        df = pd.read_csv(file)
        dfs.append(df)
    
    # 모든 DataFrame을 하나로 합침
    merged_df = pd.concat(dfs, ignore_index=True)
    
    # 합쳐진 DataFrame 반환
    return merged_df

## 2. 함수 실행

In [3]:
df = merge_csv_files()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123698 entries, 0 to 1123697
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   community       1123698 non-null  object
 1   gall_id         1123698 non-null  object
 2   search_keyword  1123698 non-null  object
 3   number          1123698 non-null  int64
 4   date_created    1123698 non-null  object
 5   time_created    1123698 non-null  object
 6   author          1123695 non-null  object
 7   is_reply        1123698 non-null  int64
 8   text            1123696 non-null  object
dtypes: int64(2), object(7)
memory usage: 77.2+ MB

In [5]:
df.head()

,community,gall_id,search_keyword,number,date_created,time_created,author,is_reply,text
0,dcinside,snp500,jyp,746844,2023-06-13,12:50:42,ㅇㅇ,0,jyp가반년만에2배가올랏네 근디보니는인적자원위주로하는사업은먼가ㅂㄹ다걍제조업이조음..
1,dcinside,snp500,jyp,730087,2023-05-16,17:52:40,ㅇㅇ(118.34),0,야 개보지년들아 JYP 주가 봤냐.. 미쳣다 지금... 개잡주 오르는건 그러려니 하...
2,dcinside,snp500,jyp,730087,2023-05-16,17:52:48,ㅇㅇ(118.34),1,ㅠㅠ
3,dcinside,snp500,jyp,730087,2023-05-16,18:04:04,ㅇㅇ(203.227),1,ㅠㅠ
4,dcinside,snp500,jyp,714904,2023-04-17,22:00:45,설묘.,0,니들 jyp 어케 생각해? ㄹㅇ 개미 너무 많이 붙는거 같은데

In [6]:
# 데이터 파일로 저장
df.to_csv("total_data.csv", index=False, encoding="utf-8")